[scripts]
start = "uvicorn main:app --reload"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
mysqlclient = "*"
pymysql = "*"
pydantic = "*"
alembic = "*"
pycryptodome = "*"
pyjwt = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
